
@{
    ViewBag.Title = "Acceso Denegado";
}

<h2 class="text-primary text-center">@ViewBag.Title</h2>
<h3 class="text-center">No tienes permiso para ver esta pantalla, por favor vuelve a la página anterior</h3>
<div class="row">
    <img src="@Url.Content("~/Images/403.png")" class="img-fluid center" alt="error de permisos" />
</div>

